
.carousel-inner{
  height: 500px;
}



body{
background-image: url("https://github.com/eransh1/IMAGES/blob/main/background-crew-desktop.jpg?raw=true");
background-repeat:no-repeat;
background-size: cover;
background-attachment: fixed;
}


/* HOME PAGE */
.hr-navbar{
  left: 10rem;
  width: 35rem;
  height: .1rem;
  position: absolute;
  z-index: 1;
  background-color: white;
}
#crew{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* HOMEPAGE NAVBAR */
span{
font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
margin-right: .5rem;}
.navbar-toggler{
border-color: white;
padding-right: 5px;
}
.navbar-home-page{
padding-left: 2rem;
padding-right: 0;
}
.ms-auto{
padding-left: 10rem;
}
.navbar-nav-main{

  box-shadow: 0 0 10px 0 ;
  background: inherit;
  backdrop-filter: blur(50px);
}
.nav-item-technology{
  padding-right: 10rem;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
}
.nav-item-destination,.nav-item-home,.nav-item-crew{
  margin-right: 2rem;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
}

/* HOMEPAGE NAVBAR UNDERLINE EFFECT */
.navbar .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1em;
}
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 0%;
  content: "";
  height: 4px;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

/* CREW PAGE */

/* COMMANDER */

.crew-intro{
  margin-left: 5rem;

}
.h2-crew{

padding: 5rem 0 0 7rem;
font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
letter-spacing: 4.725px;
color: white;
text-transform: uppercase;

}
.h2-crew-span{
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;
letter-spacing: 4.725px;
color: grey;

}

.h2-crew{
  padding-left: 0;
  padding-top: 1rem;
}
.h2-mark{
  width: 400px;
}

.carousel-item{
  height: 0;
  width: 0;
}

.crew-data-box{
  position:relative;
  width: 600px;
  top: 6rem;
  left: 5rem;
}
.h2-position{
color: grey;
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
padding-bottom: 1rem;
}
.h1-crew{
  width: 600px;
  color: white;
  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
text-transform: uppercase;
padding-bottom: 1rem;
}
.h1-mark{
  font-weight: 400;
font-size: 56px;
line-height: 64px;
width: 700px;
}
.p-crew{
  color: #D0D6F9;
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
width: 27rem;
}

.crew-image{
  position: absolute;
width: 500px;
left: 900px;


}
.douglas-img{
  height: 500px;
}
.carousel-indicators{
  width: 200px;
  margin-left: 3rem;
  margin-bottom: 2rem;
}



.active{
  display:inline-block;
    border-bottom:1px solid white;
    padding-bottom:6px;

}

/* MEDIA QUERY */
@media (max-width:1300px) {
.h2-crew{
  text-align:center;
}
.crew-intro{
  margin-left: 2rem;
}
.crew-image{
  position:absolute;
  left: 40rem;
}
}

@media (max-width:1200px){
  .crew-image{
    position:absolute;

  }
}

@media (max-width:1000px){
  .crew-image{
    position:static;
  }
  .carousel-inner{
    height: 800px;
  }
  .carousel-indicators{
    margin-left: 20rem;
  }
}

@media(max-width:764px) {
  body{
    background-image: url("https://github.com/eransh1/IMAGES/blob/main/background-crew-tablet.jpg?raw=true");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: inherit;
  }
  .crew-intro{
    margin-left: 0;
  }
  .h2-crew{
    text-align:center;
  }
  .h1-mark{
    width: 300px;
  }

  .hr-navbar{
    position: absolute;
    z-index: -1;
  }
  .crew-data-box{
    position: absolute;
    left: 4rem;
    z-index: 1;

  }
  .crew-image{
    position:absolute;
    left: .1rem;
    top: 20rem;
  }
  .carousel-inner{
    height: 800px;
  }


}
@media(max-width:600px)
{
  body{
    background-image: url("https://github.com/eransh1/IMAGES/blob/main/background-crew-mobile.jpg?raw=true");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: inherit;
  }
  .crew-data-box{
    position: absolute;
    left: 1rem;
  }


}
